.menu {
    list-style-type: none;
    margin:0;
    padding:0;
    float:right;
    padding-top:60px;
    @media only screen and (max-width: 600px) {
      padding-top:30px;
    }
    li {
        display:inline;
        a{
            font-family:'DIN Condensed Bold';
            font-size:24px;
            color: #fff;
            padding: 0px 0px;
            margin: 0px 20px;
            border:none;
            border-bottom: 3px solid #e9e9e9;
            text-decoration: none;
            position:relative;
            height: 32px;
            background: transparent;
            outline: none;
            
            @media only screen and (max-width: 600px) {
              margin: 0px 8px;
            }
        
            &::before{
                content:"";
                width:10px;
                position:absolute;
                display:inline;
                bottom:-3px;        
            }
            &:hover::before {
                width:100%;
                transition: width 0.5s;
            }
            &.active::before {
                width:100%;
                transition: width 0.5s;
            }
        }
        &:nth-of-type(1) a::before{
            border-bottom: 3px solid #999999;   
        }
        &:nth-of-type(2) a::before{
            border-bottom: 3px solid #004AFF;
        }
        &:nth-of-type(3) a::before{
            border-bottom: 3px solid #ff0085;   
        }
        &:nth-of-type(4) a::before{
            border-bottom: 3px solid #5400C1;   
        }
    }
    &.fixed {
      position:fixed;
      top:0px;
      left:0px;
    }
}