.menu {
    list-style-type: none;
    margin:0;
    padding:0;
    float:right;
}

.menu li {
    display:inline;
    font-family:'DIN Condensed Bold';
    font-size:24px;
    color: #fff;
    padding: 0px 20px;
}