
@font-face {
font-family: 'DIN Condensed Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Condensed Bold'), url('DINCondensed-Bold.woff') format('woff');
}

@font-face {
font-family: 'DIN Alternate Bold';
font-style: normal;
font-weight: normal;
src: local('DIN Alternate Bold'), url('DINAlternate-Bold.woff') format('woff');
}