.black-background {
    color:#fff;
    background: url('../../assets/images/home-background.png');
    width:100%;
    height: 100vh;
}
.icon-background {
    background: url('../../assets/images/home-icon.png');
    background-position: center center;
    background-attachment: fixed;
    width:100%;
    height: 100vh;
    background-position: 959px 1263px;
    @supports (-webkit-touch-callout: inherit) {
      background-attachment: scroll;
    }
}
.home-name {
    color:#fff;
    font-family:'DIN Condensed Bold';
    font-size:18px;
    text-align:center;   
}
.home-role {
    color:#fff;
    font-family:'DIN Condensed Bold';
    font-size:24px;
    text-align:center;   
}
.home-middle {
    padding-top:40vh;
}
.home-logo {
    background: url('../../assets/images/home-logo2.svg');
    background-repeat: no-repeat;
    background-position: center center; 
    width:355px;
    height: 91px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
}
.home-line {
    width: 279px;
    height:4px;
    background-color:#e9e9e9;
    opacity:66%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:6px;
}