.header-logo {
    background-image: url('../../assets/images/home-logo2.svg');
    background-size:120px 30px;
    width:120px;
    height: 30px;
    margin-top:12px;
    float: left;
    display:none;
    
    &.display {
      display: initial;
      transition: background-image 0.7s;
    }
}
.header {
  width:100%;

  .menu-mobile {
    display:none;
  }
  &.fixed {
    position: fixed;
    border-bottom: 3px solid #004AFF;
    border-color: #004AFF;
    background: url('../../assets/images/menu-bg.png');
    z-index:999999;
    
    &.blue {
      border-color: #004AFF;
      transition: border-color 0.7s;
    }
    
    &.pink {
      border-color: #ff0085;
      transition: border-color 0.7s;
    }
    
    &.purple {
      border-color: #5400C1;
      transition: border-color 0.7s;
    }
    
    ul {
      padding-top:10px !important;
      padding-bottom:10px !important;
        
      
    }
    @media only screen and (max-width: 600px) {
       padding-top:0px !important;
       padding-bottom:10px !important;
       
       ul {
         display:none;
         max-height:0px;
       }
       
       &.mobile-menu-opened {
         
         ul {
           display:initial;
           transition: max-height 1.9s;
           max-height:100vh;
           width:100%;
           
           
           li {
             display:block;
             margin-left:auto;
             margin-right:auto;
             text-align:center;
             margin-top:8px;
           }
         }
       }
       
       .menu-mobile{
         display:initial;
         position:absolute;
         top:10px;
         right:20px;
         font-size:24px;
         color: #ffffff;
         
         &.blue {
            color: #004AFF;
          }
          
          &.pink {
            color: #ff0085;
          }
          
          &.purple {
            color: #5400C1;
          }
       }
    }
    
  }
  
}