.Portfolio {
    min-height:100vh;
    color:#000B4F;
    background: url('../../assets/images/about-background.png');
    background-repeat:repeat;
    width:100%;
    
    .pinkLine {
        background: url('../../assets/images/portfolio-pink-line.png');
        background-repeat: repeat;
        width:100%;
        height:276px;
        
        .icons {
            background: url('../../assets/images/portfolio-icon.png');
            background-repeat: repeat;
            background-attachment:fixed;
            background-position: center center;
            width:100%;
            height:276px;
            
            .center {
                height:276px;
                width:100%;
                
                .title {
                    color: #ffffff;
                    font-family: "DIN Condensed Bold";
                    font-size:24px;
                    background:#FF0085;
                    width:130px;
                    height:28px;
                    border-radius:2px;
                    padding-left:5px;
                    line-height: 33px;
                    margin-top: 248px;
                    float:left;
                }
            }
        }
    }
    .bio {
        font-family:"DIN Alternate Bold";
        font-size:16px;
        color: #000B4E;
        text-align: justify;
        padding-top: 30px;
        padding-bottom:40px;
        
    }
    .title {
        color: #004AFF;
        font-family: "DIN Condensed Bold";
        font-size:32px;
    }
    .skill-empty {
        width:18px;
        height:18px;
        background: url('../../assets/images/m-empty.png');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        margin:0px 5px;
        display:inline-block;
    }
    .skill-half {
        width:18px;
        height:18px;
        background: url('../../assets/images/m-half.png');
        background-repeat:no-repeat;
        background-size: 100% 100%;
        margin:0px 5px;
        display:inline-block;
    }
    .skill-full {
        width:18px;
        height:18px;
        background: url('../../assets/images/m-full.png');
        background-repeat:no-repeat;
        background-size: 18px 19px;
        margin:0px 5px;
        display:inline-block;
    }
    .skill-name {
        font-family:"DIN Alternate Bold";
        font-size:16px;
        color: #002B96;
        font-weight: bold;
        line-height:20px;
        display:inline-flex;
        height:18px;
    }
    .article {
        border-bottom: 2px solid #002C96;
        padding:10px 0px;
        .title {
            font-family:"DIN Alternate Bold";
            font-size:12px;
            color: #000000;
            font-weight: bold;
        }
        .name {
            color: #002C96;
            font-family: "DIN Condensed Bold";
            font-size:20px;
            text-transform: uppercase;
            text-decoration: underline;
            
        }
        .info {
            color: #000B4E;
            font-family: "DIN Condensed Bold";
            font-size:16px;
            text-transform: uppercase;
        }
        .btn {
            width:35px;
            height:35px;
            background-color:#004AFF;
            border-radius: 8px; 
            margin-left:auto;
            margin-right:auto;
            padding-top:5px;
            
            svg {
                color:#ffffff;
                line-height:35px;
                text-align:center;
            }
        }
        .btn-line {
            width:72px;
            height:15px;
            text-align:center;
            background-color:#004AFF;
            border-radius: 4px; 
            margin-left:auto;
            margin-right:auto;
            padding-top:1px;
            font-family: "DIN Condensed Bold";
            font-size:12px;
            text-transform: uppercase;
            color:#ffffff;
            margin-top:5px;
        }
    }
}